U_MACRO(u_macro_lang, wait-ms = <0>; bindings = <&kp LG(SPACE)>, <&tog U_EXTRA>;)
U_MACRO(u_macro_and_lang, wait-ms = <0>; bindings = <&kp LS(SPACE)>, <&tog U_EXTRA>;)
U_MACRO(u_macro_par, wait-ms = <0>; bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;)
U_MACRO(u_macro_brc, wait-ms = <0>; bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;)
U_MACRO(u_macro_set, wait-ms = <0>; bindings = <&kp BSLH>, <&kp LBRC>, <&kp BSLH>, <&kp RBRC>, <&kp LEFT>, <&kp LEFT>;)
U_MACRO(u_macro_bkt, wait-ms = <0>; bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;)
U_MACRO(u_macro_math, wait-ms = <0>; bindings = <&kp BSLH>, <&kp LBKT>, <&kp BSLH>, <&kp RBKT>, <&kp LEFT>, <&kp LEFT>;)
U_MACRO(u_macro_inline_math, wait-ms = <0>; bindings = <&kp DLLR>, <&kp DLLR>, <&kp LEFT>;)

#define MINJAE_COMBOS_TERM 50
#define MINJAE_COMBOS_MACRO(LAYER, POSITION, BINDING) \
minjaecombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MINJAE_COMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MINJAE_COMBOS_TERM>; \
};

/ {
  combos {
    compatible = "zmk,combos";
    MINJAE_COMBOS_MACRO(U_BASE, LEFTRT, &u_macro_par)
    MINJAE_COMBOS_MACRO(U_BASE, LEFTRM, &u_macro_brc)
    MINJAE_COMBOS_MACRO(U_BASE, LEFTRB, &u_macro_bkt)
    MINJAE_COMBOS_MACRO(U_BASE, RIGHTLT, &kp BSLH)
    MINJAE_COMBOS_MACRO(U_BASE, RIGHTLM, &kp EQUAL)
    MINJAE_COMBOS_MACRO(U_BASE, RIGHTLB, &u_macro_set)
    
    MINJAE_COMBOS_MACRO(U_EXTRA, LEFTRT, &u_macro_par)
    MINJAE_COMBOS_MACRO(U_EXTRA, LEFTRM, &u_macro_brc)
    MINJAE_COMBOS_MACRO(U_EXTRA, LEFTRB, &u_macro_bkt)
    MINJAE_COMBOS_MACRO(U_EXTRA, RIGHTLT, &kp BSLH)
    MINJAE_COMBOS_MACRO(U_EXTRA, RIGHTLM, &kp EQUAL)
    MINJAE_COMBOS_MACRO(U_EXTRA, RIGHTLB, &u_macro_set)
  };
};

&soft_off {
    hold-time-ms = <3000>; // Only turn off it the key is held for 5 seconds or longer.
};